@import "tailwindcss";

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "poppins", sans-serif;
    --font-poppins-extrabold: "poppins_ExtraBold",sans-serif;
 
    --color-latar: #f3f4f6;
    --color-teks: #374151; 
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb; 
    --color-hijau: #00B074; 
    --color-merah: #ef4444; 
    --color-biru: #3b82f6;
    --color-kuning: #f59e0b; 
    
    /* Tambahkan warna Tosca */
    --color-tosca-50: #e5f9f7;
    --color-tosca-100: #c2f0f1;
    --color-tosca-200: #99e8eb;
    --color-tosca-300: #4fd9dc;
    --color-tosca-400: #26bdbf;
    --color-tosca-500: #0d9fa1; /* Tosca utama */
    --color-tosca-600: #0c7d80;
    --color-tosca-700: #095e60;
    --color-tosca-800: #064840;
    --color-tosca-900: #033c30;
}

body {  
    @apply font-barlow;
}
